head
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  title ACC - Foster Availability
  link( href="https://fonts.googleapis.com/css?family=Londrina+Solid|Open+Sans" rel="stylesheet")
body
  #app
