.accounts
  margin 0 auto
  width 100%
  +above($mobile)
    width 50%
  +above($tablet)
    width 35%

  fieldset.form-group
    .btn
      margin-top 1em
      &:nth-of-type(1)
        padding-right 4em
        padding-left 4em
      &:nth-of-type(2)
        float right
